[Unit]
Description=Apache Kafka
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target
After=network.target
 
[Service]
Type=simple
SuccessExitStatus=1
ExecStart=/home/vishnunimmalapudi/confluent.temp/confluent-6.2.0/bin/kafka-server-start /home/vishnunimmalapudi/confluent.temp/confluent-6.2.0/etc/kafka/server.properties
ExecStop=/home/vishnunimmalapudi/confluent.temp/confluent-6.2.0/bin/kafka-server-stop
User=root
Group=root
 
[Install]
WantedBy=default.target

