[Unit]
Description=Confluent Schema Registry
Documentation=https://docs.confluent.io/current/schema-registry/docs/index.html
Requires=network.target
After=network.target
 
[Service]
Type=simple
SuccessExitStatus=1
ExecStart=/home/vishnunimmalapudi/confluent.temp/bin/schema-registry-start /home/vishnunimmalapudi/confluent.temp/etc/schema-registry/schema-registry.properties
ExecStop=/home/vishnunimmalapudi/confluent.temp/bin/schema-registry-stop
User=root
Group=root
 
[Install]
WantedBy=default.target
