[Unit]
Description=Zookeeper Confuent Service(label-app)
After=multi-user.target

[Service]
User=root
WorkingDirectory=/home/vishnunimmalapudi/confluent.temp/confluent
ExecStart=/home/vishnunimmalapudi/confluent.temp/service/zookeeper/zookeeper.run.sh
ExecStop=/home/vishnunimmalapudi/confluent.temp/service/zookeeper/zookeeper.stop.sh
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
