
dataDir=/home/vishnunimmalapudi/confluent.temp/confluent/data/zoo-dataDir

clientPort=2181
# disable the per-ip limit on the number of connections since this is a non-production config
# maxClientCnxns=0
 
initLimit=5
syncLimit=2
server.1={{zookeeper_server_1}}
server.2={{zookeeper_server_2}}
server.3={{zookeeper_server_3}}
autopurge.snapRetainCount=3
autopurge.purgeInterval=24

server.{{zookeeper_id}}=0.0.0.0:2888:3888
